@import "../../variables";

#lang {
  align-self: flex-start;

  .dropdown {
    padding: 1em;
    border-radius: 20%;

    &.active {
      background: $medium-dark-color;
    }

    .menu {
      height: unset;
      display: none;
      position: relative;
      &.visible {
        display: block;
      }
    }

    .item.selected {
      display: none;
    }

    img {
      width: 30px;
    }
  }
}
