@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Teko:wght@500;600;700&display=swap");
@import "variables";

.container {
  // TODO: Revert to older tailwind to allow defining automatic center and padding for containers
  .section-title {
    color: $light-color;
    align-self: flex-start;
    margin: 2rem;

    &:after {
      content: "_";
      color: $primary-color;
    }
  }
}

#hero,
#experience,
#skills,
#education,
#hobby {

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: $light-color;
  }

  h1,
  h2,
  h3 {
    font-family: "Teko", sans-serif;
  }

  h4,
  h5,
  p,
  a,
  input,
  textarea {
    font-family: "Montserrat", sans-serif;
  }

  h1 {
    font-weight: 700;
    font-size: 5rem;
    line-height: 3rem;
  }

  h2 {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  h3 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.5rem;
  }

  h4 {
    font-weight: 400;
    font-size: 1.5rem;
  }

  h5 {
    font-weight: 300;
    font-size: 1.2rem;
  }

  p {
    font-weight: 300;
  }

  a {
    text-decoration: none;
    color: $primary-color;
  }


  button,
  .button {
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    font-weight: bold;
    font-size: 1.2rem;
    background: $dark-color;
    color: $primary-color;
    border: 1px solid $primary-color;

    &-main {
      border: none;
      background-color: $primary-color;
      color: $dark-color;
    }

    &.disabled,
    &:disabled {
      background: $medium-dark-color;
      color: $medium-light-color;
      border: 1px solid $medium-light-color;
    }

    // Vendors

    .swal2-container {
      .swal2-popup {
        background: $medium-dark-color;
      }

      .swal2-icon.swal2-success {
        border-color: $primary-color;
        color: $primary-color;
      }

      .swal2-title {
        color: $light-color;
        line-height: 2.5rem;
      }

      .swal2-styled.swal2-confirm {
        background-color: $primary-color;
        color: $dark-color;
      }
    }

    @media (max-width: 768px) {
      .container {
        padding: 2rem 0;
      }
    }
  }
}