@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Teko:wght@500;600;700&display=swap");
@import "variables";

.container {
  // TODO: Revert to older tailwind to allow defining automatic center and padding for containers
  .section-title {
    color: $light-color;
    align-self: flex-start;
    margin: 2rem;

    &:after {
      content: "_";
      color: $primary-color;
    }
  }
}
