@import "../../variables";

#lang-drop {
  align-self: flex-start;

  .dropdown {
    padding: 1em;
    border-radius: 20%;

    &.active {
      background: $medium-dark-color;
    }

    .menu {
      height: unset;
      display: none;
      position: relative;
      &.visible {
        display: block;
      }
    }

    .item.selected {
      display: none;
    }

    img {
      width: 30px;
    }
  }
}

#lang-inline {
  img {
    margin: 0.5rem;
    width: 34px;
    padding: 2px;

    &.active {
      border-radius: 50%;
      border: 4px solid $primary-color;
      padding: 0;
    }
  }
}
