@import "../variables";

#contact {
  min-height: 75vh;
  background-color: $medium-dark-color;

  .contact-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 0 1rem;

    .contact-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .img-bubble {
        border: 5px solid $primary-color;
        border-radius: 50%;
        width: 25%;
        padding: 5%;
        margin-bottom: 1rem;

        img {
          width: 100%;
          margin: auto;
        }
      }

      p {
        margin: 0.2rem 0;
        line-height: 1.5rem;

        span {
          color: $primary-color;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input,
      textarea {
        color: $light-color;
        background-color: $dark-color;
        border: 1px solid $medium-light-color;
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        width: 100%;
        resize: none;

        &:focus {
          outline: none;
          background-color: $dark-color;
          border: 1px solid $primary-color;
        }
      }

      textarea {
        height: 10rem;
      }

      input[type="submit"] {
        border: none;
        background-color: $primary-color;
        color: $dark-color;
        font-weight: bold;
        font-size: 1.2rem;

        &:disabled {
          background: $medium-dark-color;
          color: $medium-light-color;
          border: 1px solid $medium-light-color;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #contact {
    .contact-content {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
}
