@import "../variables";

#education {
  background: $dark-color;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      display: flex;
      justify-content: space-between;

      h3 {
        color: $primary-color;
        font-weight: bold;
      }
    }
    h5 {
      color: $medium-light-color;
    }
    p {
      margin-top: 1em;
    }
  }
}
