@import "../variables";

#experience {
  background-color: $dark-color;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-title {
      color: $light-color;
      align-self: flex-start;
      margin: 2rem;

      &:after {
        content: "_";
        color: $primary-color;
      }
    }

    .timeline {
      position: relative;
      margin-top: 3rem;

      &::after {
        content: "";
        position: absolute;
        width: 0.5rem;
        margin-left: -0.25rem;
        background-color: $primary-color;
        top: 0;
        bottom: 0;
        left: 50%;
      }

      .job-card {
        position: relative;
        width: calc(50% - 3rem);

        &::after {
          content: "";
          position: absolute;
          width: 24px;
          height: 24px;
          right: calc(-3rem - 16px);
          background-color: $primary-color;
          border: 4px solid $medium-dark-color;
          border-radius: 50%;
          top: 50%;
          z-index: 1;
        }

        &:nth-of-type(2) {
          left: calc(50% + 3rem);
          right: 0;
          &::after {
            right: 0;
            left: calc(-3rem - 16px);
          }
        }

        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h3 {
            color: $primary-color;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #experience .container {
    .section-title {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }

    .timeline {
      margin-left: 3rem;
      margin-top: 1rem;

      &::after {
        left: 0;
      }

      .job-card {
        width: 90%;
        left: 1rem;

        &::after {
          right: 0;
          left: calc(-1rem - 16px);
        }

        &:nth-of-type(2) {
          left: 1rem;
          &::after {
            right: 0;
            left: calc(-1rem - 16px);
          }
        }
      }
    }
  }
}
