@import "../variables";

#header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;

    canvas {
      position: unset !important;
    }
  }

  .header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 1;

    .logo-content {
      display: flex;
      justify-content: center;
      justify-items: center;
      align-content: center;
      align-items: center;

      .img-container {
        position: relative;
        height: 200px;
        width: 200px;

        .img-bubble {
          position: absolute;
          border-radius: 50%;
          background-color: $dark-color;
          border: 5px solid $primary-color;
          width: 200px;
          height: 200px;
          animation-duration: 20s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
        }
        .wasoft {
          padding: 1.5em;
          z-index: 2;
          animation-name: rotation-top;

          img {
            width: 100%;
          }
        }
        .profile {
          z-index: 1;
          overflow: hidden;
          animation-name: rotation-bottom;

          img {
            width: 120%;
            margin-left: -10%;
            margin-top: -10%;
          }
        }
      }
    }

    .info-content {
      text-align: center;

      span {
        color: $primary-color;
      }
    }
  }
}

@keyframes rotation-top {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: -45%;
    top: -45%;
  }
  50% {
    z-index: 1;
    left: 0;
    top: 0;
  }
  75% {
    left: -45%;
    top: 45%;
  }
  100% {
    left: 0px;
    top: 0px;
    z-index: 2;
  }
}
@keyframes rotation-bottom {
  0% {
    left: 0px;
    top: 0;
  }
  25% {
    left: 45%;
    top: 45%;
  }
  50% {
    z-index: 2;
    left: 0;
    top: 0;
  }
  75% {
    left: 45%;
    top: -45%;
  }
  100% {
    left: 0px;
    top: 0px;
    z-index: 1;
  }
}
