@import "../variables";

#header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;

    canvas {
      position: unset !important;
    }
  }

  .header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    gap: 5em;
    z-index: 1;

    .logo-content {
      display: flex;
      justify-content: flex-end;

      .img-container {
        position: relative;
        height: 40vh;
        width: 40vh;
        max-height: 50vh;
        max-width: 50vh;
        margin-right: 10%;

        .img-bubble {
          border-radius: 50%;
          background-color: $dark-color;
          border: 5px solid $primary-color;
        }

        .profile {
          width: 100%;
          height: 100%;
          overflow: hidden;

          img {
            width: 120%;
            margin-left: -10%;
          }
        }

        .wasoft {
          position: absolute;
          width: 50%;
          height: 50%;
          padding: 5%;
          bottom: -15%;
          right: -15%;

          img {
            width: 100%;
          }
        }
      }
    }

    .info-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
      justify-self: start;
      justify-content: center;
      align-content: center;

      span {
        color: $primary-color;
      }
    }
  }
}

@media (max-width: 768px) {
  #header .header-content {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    gap: 5em;

    .logo-content {
      justify-content: center;

      .img-container {
        height: 60vw;
        width: 60vw;
      }
    }
  }
}
