@import "../variables";

#header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    
    canvas {
      position: unset !important;
    }
  }

  .header-content {
    position: relative;
    color: $primary-color;
    font-size: 1.5rem;
    text-align: center;
  }
}
