@import "../../variables";

$pdf-page-width: 446px;
$rem: 5px;

#resume {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto auto 1fr;
  width: $pdf-page-width;
  margin: auto;

  .profile {
    padding: 15%;
    background-color: $medium-light-color;

    .img-bubble {
      border-radius: 50%;
      background-color: $dark-color;
      border: 2px solid $primary-color;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }

  .title {
    display: flex;
    background-color: $medium-dark-color;

    &-content {
      display: flex;
      flex-direction: column;
      gap: 0.5 * $rem;
      align-items: center;
      margin: auto;

      h2 {
        font-size: 3 * $rem;
        line-height: unset;
        text-transform: uppercase;
        margin: -0.5 * $rem 0;
        letter-spacing: 5px;
        font-weight: bold;
      }
      hr {
        width: 100%;
        color: $light-color;
      }
      h4 {
        color: $medium-light-color;
        font-size: 2 * $rem;
        line-height: unset;
      }
    }
  }

  .about-me,
  .contact,
  .soft-skills,
  .hobbies {
    background-color: $medium-light-color;
  }

  .experience,
  .education {
    background-color: $light-color;
  }

  .tech-skills {
    grid-row: span 2;
    background-color: $light-color;
  }
}
