@import "../../variables";

#resume {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  .controls {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;

    .download {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem;
      color: $light-color;
      width: 8rem;

      .desc {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5rem;
        padding-top: 0.25rem;
      }

      .icon {
        fill: $primary-color;
      }
    }
  }
}
