@import "../../variables";

#resume {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  .controls {
    margin: 1rem 0;

    .download {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0.5rem;
      color: $light-color;

      .desc {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5rem;
        padding-top: 0.25rem;
      }

      .icon {
        fill: $primary-color;
      }
    }
  }
}

#pdf-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto auto 1fr;
  margin: auto;

  .profile {
    padding: 15%;
    background-color: $medium-light-color;

    .img-bubble {
      border-radius: 50%;
      background-color: $dark-color;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }

  .header {
    display: flex;
    background-color: $medium-dark-color;

    &-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      margin: auto;

      h2 {
        font-size: 3rem;
        line-height: unset;
        text-transform: uppercase;
        font-weight: bold;
        margin: -0.5rem 0;
        letter-spacing: 4px;
      }
      hr {
        width: 100%;
        color: $light-color;
      }
      h4 {
        color: $medium-light-color;
        font-size: 1.5rem;
        line-height: unset;
      }
    }
  }

  .resume-section {
    padding: 1rem;
  }

  .about-me,
  .contact,
  .soft-skills,
  .hobbies {
    background-color: $medium-light-color;
  }

  .experience,
  .education {
    background-color: $light-color;
  }

  .tech-skills {
    grid-row: span 2;
    background-color: $light-color;
  }

  h2,
  h3 {
    font-weight: normal;
  }

  p {
    color: $dark-color;
  }

  .info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0;

    .icon {
      height: 24px;
    }
  }
}
