@import "../../variables";

.resume-title {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 0.5rem;

  hr {
    background-color: $dark-color;
    border: none;
    height: 3px;
  }

  .text {
    color: $dark-color;
    text-transform: uppercase;
    font-size: 1.75rem;
  }

  &.light hr {
    background-color: $light-color;
  }
  &.light .text {
    color: $light-color;
  }
}
