@import "../../variables";

.section-title {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;

  hr {
    color: $dark-color;
  }

  .text {
    color: $dark-color;
    text-transform: uppercase;
  }
}
