@import "../../variables";

#main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    margin: 0 0.3rem;
    padding: 0.5rem 1rem;
    color: $light-color;
    font-family: "Teko", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;

    &.active,
    &:hover {
      border-bottom: $primary-color solid 2px;
      color: $primary-color;
    }
  }
}

@media (max-width: 768px) {
  #main-nav {
    display: none;
  }
}
